In [6]:
import pandas as pd
import quandl as q

In [7]:
# set the API key
q.ApiConfig.api_key = "yjN7XZx2gsJLppMN3t9B"

In [10]:
q.get_table('QDL/JODI',date='2024-06-30', energy='OIL')

/Users/jonathanhandwerk/trading/myenv/lib/python3.11/site-packages/quandl/get_table.py:38: UserWarning: To request more pages, please set paginate=True in your         quandl.get_table() call. For more information see our documentation:         https://github.com/quandl/quandl-python/blob/master/FOR_ANALYSTS.md#things-to-note
  warnings.warn(Message.WARN_PAGE_LIMIT_EXCEEDED, UserWarning)

     energy    code country       date        value  notes
None
0       OIL  TPSDKT     ZAF 2024-06-30       0.0000      3
1       OIL  TPSDKT     YEM 2024-06-30       0.0000      3
2       OIL  TPSDKT     VNM 2024-06-30       0.0000      3
3       OIL  TPSDKT     VEN 2024-06-30       2.0000      3
4       OIL  TPSDKT     USA 2024-06-30  -15388.0000      3
...     ...     ...     ...        ...          ...    ...
9995    OIL  RSROKD     NZL 2024-06-30       0.0000      3
9996    OIL  RSROKD     NPL 2024-06-30       0.0000      3
9997    OIL  RSROKD     NOR 2024-06-30       0.0000      1
9998    OIL  RSROKD     NLD 2024-06-30     121.2600      2
9999    OIL  RSROKD     NGA 2024-06-30       0.0000      3

[10000 rows x 6 columns]

In [11]:
q.get_table('QDL/JODI',date='2024-06-30', energy='CR')

Empty DataFrame
Columns: [energy, code, country, date, value, notes]
Index: []

In [12]:
q.get_table('QDL/JODI',date='2024-06-30', country = 'NLD', energy='OIL')

     energy    code country       date       value  notes
None
0       OIL  TPSDKT     NLD 2024-06-30     -8.0000      3
1       OIL  TPSDKL     NLD 2024-06-30    -11.0000      3
2       OIL  TPSDKD     NLD 2024-06-30     -2.0000      3
3       OIL  TPSDKB     NLD 2024-06-30    -68.0000      3
4       OIL  TPSDBK     NLD 2024-06-30   7743.0000      3
...     ...     ...     ...        ...         ...    ...
645     OIL  CRCSKT     NLD 2024-06-30   4294.0000      2
646     OIL  CRCSKL     NLD 2024-06-30   5031.4446      2
647     OIL  CRCSKD     NLD 2024-06-30           x      2
648     OIL  CRCSKB     NLD 2024-06-30  31646.7800      2
649     OIL  CRCSBK     NLD 2024-06-30   7370.0000      3

[650 rows x 6 columns]

In [14]:
q.get_table('QDL/JODI',date='2024-06-30', country = 'NLD', code ='LP', energy='OIL')

Empty DataFrame
Columns: [energy, code, country, date, value, notes]
Index: []